.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.wrapper {
	display: flex;
}

.image {
	width: 300px;
}

.description {
	margin-left: 20px;
}

.icon {
	cursor: 'pointer';
}
